@charset "UTF-8";

@media screen and (min-width: 768px) and (max-width: 1024px) {
    body{
        background-image: linear-gradient(to top, #B0DB43, #E9F1F7);
    }
    
    section#login {
        width: 90vw;
    }

    div#info {
        float: right;
        width: 65%;
        height: 100%;
        padding-left: 20px;
        padding-right: 20px;
    }
    div#imag {
        background-image: url(../imagem/pexels-ip-creative.jpg);
        float: left;
        width: 35%;
        height: 100%;
    }

    div#info > h1 {
    text-align: center;
    padding: 15px 10px 10px 10px;

}
    div#info > p {
    text-align: justify;
    padding: 10px 10px 10px 10px;
    
}

    div#info > p {
    font-size: 1em;
    }

    div.corf {
    background-color: #72BDA3;
    }

    div.corf > input {
    border: 1px solid #72BDA3;
    }


}


@media screen and (min-width: 1025px) {
    body{
        background-image: linear-gradient(to top, #B0DB43, #E9F1F7);
    }
    
    section#login {
        width: 945px;

    }

    div#info {
        float: right;
        width: 55%;
        height: 100%;
        padding-left: 20px;
        padding-right: 20px;
    }
    div#imag {
        background-image: url(../imagem/pexels-ip-creative.jpg);
        float: left;
        width: 45%;
        height: 100%;
    }

    div#info > h1 {
    text-align: center;
    padding: 15px 10px 10px 10px;

    }

    div#info > p {
    font-size: 1em;
     padding: 15px 10px 10px 10px;

    }

    div.corf {
    background-color: #72BDA3;
    }

    div.corf > input {
    border: 1px solid #72BDA3;
    }

}

